@model IEnumerable<ContactModel>
@{
    ViewData["Title"] = "Danh Sách Liên Hệ";
}

<h3>Danh Sách Thông Tin Liên Hệ</h3>

<table class="table table-bordered" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên liên hệ</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Bản đồ</th>
            <th scope="col">Email</th>
            <th scope="col">Logo</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@Html.Raw(item.Description)</td>
                <td>@Html.Raw(item.Map)</td>
                <td>@item.Email</td>
                <td>
                    <img src="~/media/logo/@item.LogoImg" alt="Logo" width="120" height="80" style="object-fit: contain;" />
                </td>
                <td>@item.Phone</td>
                <td>
                    <a asp-action="Edit" asp-controller="Contact" class="btn btn-warning btn-sm">Edit</a>
                </td>

            </tr>
        }
    </tbody>
</table>
