@model IEnumerable<OrderModel>
@{
    ViewData["Title"] = "Danh Sách Đơn Hàng";
    Paginate pager = ViewBag.Pager ?? new Paginate();
    int pageNo = pager.CurrentPage;
}


<h3>Danh Sách Đơn Đặt Hàng: @ViewBag.UserEmail</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Mã Đơn Hàng</th>
            <th>Giá Vận Chuyển</th>
            <th>Mã Khuyến Mãi</th>
            <th>Tên Khách Hàng</th>
            <th>Trạng Thái Đặt Hàng</th>
            <th>Phương Thức Thanh Toán</th>
            <th>Ngày Đặt</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.ShippingCost.ToString("#,##0 đ")</td>
                <td>@item.CouponCode</td>
                <td>@item.UserName</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-success">Đã giao hàng</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>
                    @if (item.PaymentMethod == "COD" || item.PaymentMethod != null)
                    {
                        <span class="text text-primary">@item.PaymentMethod</span>
                    }
                    else
                    {
                        <span class="text text-danger">Qua MOMO <a asp-route-orderId="@item.PaymentMethod" asp-action="PaymentMomoInfo" asp-controller="Order">@item.PaymentMethod</a></span>

                    }
                </td>
                <td>@item.CreatedDate.ToString("dd-MM-yyyy HH:mm")</td>
                <td>
                    <a asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.OrderCode" class="btn btn-sm btn-info">Xem</a>
                    <a asp-action="Delete" asp-controller="Order" asp-route-Id="@item.OrderCode" class="btn btn-sm btn-danger confirmDeletion">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
