@model CouponModel
@{
    ViewData["Title"] = "Create Coupon";
}
<h3>Create Coupon</h3>

<div class="col-md-9">
    <form autocomplete="off" asp-controller="Coupon" asp-action="Create" enctype="multipart/form-data">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Date Start</label>
            <input asp-for="DateStart"  class="form-control" />
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Date Expired</label>
            <input asp-for="DateExpired" class="form-control" />
            <span asp-validation-for="DateExpired" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input asp-for="Quantity" min="1" value="1" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Status</label>
            <select name="Status" class="form-control">
                <option value="1">Kích hoạt</option>
                <option value="0">Ẩn</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>


    </form>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date Started</th>
                <th>Date Expired</th>
                <th>Quantity</th>
                <th>Active</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in ViewBag.Coupons)
            {
                <tr>
                    <td>@coupon.Name</td>
                    <td>@coupon.Description</td>
                    <td>@coupon.DateStart.ToString("dd-MM-yyyy")</td>
                    <td>@coupon.DateExpired.ToString("dd-MM-yyyy")</td>
                    <td>@coupon.Quantity</td>
                    <td>
                        @if (@coupon.Status == 1)
                        {
                            <select name="Status" >
                                <option selected value="1">Kích hoạt</option>
                                <option value="0">Ẩn</option>
                            </select>
                        }
                        else
                        {
                            <select name="Status" >
                                <option value="1">Kích hoạt</option>
                                <option selected value="0">Ẩn</option>
                            </select>
                        }

                    </td>

                    <td>
                        @if (coupon.DateExpired < DateTime.Now)
                        {
                            <span class="text text-danger">Expired</span>
                        }
                        else
                        {
                            TimeSpan remainingTime = coupon.DateExpired - DateTime.Now;
                            int daysRemaining = remainingTime.Days;
                            @if (daysRemaining == 0)
                            {
                                <span class="text text-danger">Today</span>
                            }
                            else
                            {
                                <span class="text text-success">@daysRemaining days left</span>
                            }
                            
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeYear: true,
                minDate: 0,
                showButtonPanel: true,
                dateFormat: 'dd/mm/yy'
                
            });

        });
        $(function () {
            $("#datepicker2").datepicker({
                changeYear: true,
                minDate: +1,
                showButtonPanel: true,
                dateFormat: 'dd/mm/yy'

                    });

                });
    </script>
}